h1{
	color:mediumslateblue;
	margin-top: 1.5em;
}

hr{
	color:silver;
}


h2{
	color: blue;
}

body{
	margin: 3cm;
	font-family: sans-serif;
}


code{
	font-size: 2rem;
	color: palevioletred;
}